<div class="restaurant">
  <li><strong><%= restaurant.name %></strong><br>
  <em> <%= restaurant.cuisine %></em><br>
  <small><%= restaurant.city %> <%= restaurant.state %> <%= restaurant.zip %></small> </li>
</div>